
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .container {
    padding: 0 1.25rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 1.25rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 1.5rem;
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 1.75rem;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 2rem;
  }
}
